{% extends 'layout.html' %}

{% block title %}
    <title>Registration Page</title>
{% endblock %}


{% block nav_button_right %}
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/login">Have an account?  <span class="glyphicon glyphicon-log-in"></span> Log in <span class="sr-only">(current)</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <form class="form-signup" action="/register" method="post">
        <p class="form-signup-heading">Join Chat Room today!</p>

        <label  class="sr-only">Username</label>
        <input type="text"  name="username" class="form-control" placeholder="Username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

        <label for="confirm" class="sr-only">Password</label>
        <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm password" required>

        <p class="error-message">
            {{ error }}
        </p>

        <button class="btn btn-lg btn-info btn-block sign-up-btn" type="submit">Sign up</button>
    </form>
{% endblock%}
