body {
  min-height: 100%;
  padding-top: 150px;
}
p.button-signup-heading {
    font-family:Arial,Verdana,Sans-serif;
    font-size:18px;
    color:#606060
}
p.form-signin-heading {
    font-family:Arial,Verdana,Sans-serif;
    font-size:20px;
    color:#606060
}
a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}
